<h1>Angular-Framework Demo App</h1>
<div class="homepage" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
  <mat-card fxLayout="column" fxLayoutAlign="space-evenly center" (click)="onClick('alphabet')">
    <mat-card-title>Alphabet</mat-card-title>
    <mat-card-content>
      <mat-icon>
        abc
      </mat-icon>
    </mat-card-content>
  </mat-card>
  <mat-card fxLayout="column" fxLayoutAlign="space-evenly center" (click)="onClick('practice')">
    <mat-card-title>Übungen</mat-card-title>
    <mat-card-content>
      <mat-icon>
        school
      </mat-icon>
    </mat-card-content>
  </mat-card>
  <mat-card fxLayout="column" fxLayoutAlign="space-evenly center" (click)="onClick('declination')">
    <mat-card-title>Deklination</mat-card-title>
    <mat-card-content>
      <mat-icon>
        list
      </mat-icon>
    </mat-card-content>
  </mat-card>
  <mat-card fxLayout="column" fxLayoutAlign="space-evenly center" (click)="onClick('jokes')">
    <mat-card-title>Witze</mat-card-title>
    <mat-card-content>
      <mat-icon>
        sentiment_very_satisfied
      </mat-icon>
    </mat-card-content>
  </mat-card>
</div>