.multipleChoice {
    margin: 20px;
}

mat-card-content button {
    width: 80%;
}

.right {
    background-color: lightgreen;
}

.wrong {
    background-color: lightcoral;
}

mat-slide-toggle {
    margin-left: 20px;
}

.wordCounter {
    text-align: center;
}

mat-accordion {
    width: 600px;
    min-height: 300px;
}