<div class="downloads" fxLayout="row" fxLayoutAlign="center stretch">
    <mat-card>
        <mat-card-title>
            Downloads
        </mat-card-title>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem"><a href="https://github.com/benjaminmilcic/LearnLanguageApp"
                        target="_blank">Sourcecode dieser Webseite</a></mat-list-item>
                <mat-list-item role="listitem">Android App made with Ionic (coming soon...)</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>