<div class="downloads" fxLayout="row" fxLayoutAlign="center stretch">
  <mat-card>
    <mat-card-title> Downloads </mat-card-title>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          Learn Language Android App made with Ionic Framework
        </mat-list-item>
      </mat-list>
      <a
        href="https://play.google.com/store/apps/details?id=io.ionic.learnlanguageapp"
        ><img src="../../assets/google-play-badge.png" width="200px"
      /></a>
    </mat-card-content>
  </mat-card>
</div>
