<div class="downloads" fxLayout="row" fxLayoutAlign="center stretch">
    <mat-card>
        <mat-card-title>
            Downloads
        </mat-card-title>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <a href="https://github.com/benjaminmilcic/LearnLanguageApp"
                        target="_blank">Sourcecode dieser Webseite</a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="../../assets/learnlanguageapp.apk" download>Android App made with Ionic</a>&nbsp; (will be improved soon...)
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="https://github.com/benjaminmilcic/learn-language-android-app"
                        target="_blank">Sourcecode der Android App</a>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>