mat-card-title {
    text-align: center;
    margin-bottom: 20px;
}

.assign {
    margin: 20px;
}

mat-accordion {
    max-width: 1220px;
    min-height: 300px;
}

::ng-deep.mat-chip.mat-standard-chip:focus::after {
    opacity: 0;
}

button[mat-mini-fab] {
    transform: scale(0.6) translatey(-6px) !important;
}