mat-card {
    width: 600px;
    min-height: 300px;
    margin: 20px 0 20px;
}

.declination {
    margin: 20px;
}

mat-form-field {
    width: 600px;
}

mat-card-title {
    margin-bottom: 30px;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.cases {
    width: 1px;
}