mat-card {
    width: 600px;
    min-height: 300px;
    margin: 20px 0 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/homepage.jpg);
    background-size: cover;
    color: white;
}

mat-card-subtitle {
    color: #f44336;
}

.jokes {
    margin: 20px;
}

mat-card-title {
    text-align: center;
}

mat-card-content {
    white-space: pre-wrap;
    margin-bottom: 50px;
}

mat-card-actions {
    height: 100%;
}

input {
    width: 20px;
    padding-top: 17px;
}